
<% if flash[:errors] %>
	<% flash[:errors].each do |error_messages| %>
		<h1><%= error_messages %></h1>
	<% end %>
<% end %>

<br>
<%= form_for @pizza do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %>

    <%= f.label :restaurant_id %>
    <%= f.collection_select :restaurant_id, @restaurant, :id, :name %>

    <%= f.submit %>
<% end %>