<h1>SHOULD RAISE AN ERROR IF Pizza IS THE SAME NAME</h1>

<%= form_for @pizza do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %>

    <%= f.label :restaurant_id %>
    <%= f.collection_select :restaurant_id, @restaurants, :id, :name %>
    <%= f.submit "Create Pizza" %>
<% end %>