<h1> Add Pizza to Restaurant</h1>

<%=form_for @pizza do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name%><br><br>
    <%=f.label :ingredients%>
    <%=f.text_field :ingredients%><br><br>
    <%=f.label :restaurant_id%>
    <%=f.collection_select :restaurant_id, @restaurants, :id,:name%><br><br>
    <%= f.submit%>
<%end%>
