<h1>New pizza restaurant here</h1>


<%= form_for @pizzarest do |f| %>
<%= f.label :restaurant_id %>
<%= f.collection_select :restaurant_id, @restaurants, :id, :name %>

<%= f.label :pizza_id %>
<%= f.collection_select :pizza_id, @pizzas, :id, :name %>
<%= f.submit %>
<% end %>

<%= link_to "create new pizza", new_pizza_path%>
